{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<style>
    input{width:200px;height: 35px;border-radius: 5px}
</style>
<div class="row-fluid">

    <div style="text-align: center">
        {% if current_user.is_authenticated %}
        <h3>欢迎您 {{ current_user.nickname }}</h3>
        <p class="lead">

        </p>
        {% else %}
        <form  method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div class="form-group">
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-info" type="submit" style="width: 150px">登录</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock body %}
